@model JobSystem.Models.JobPostingViewModel

@{
    ViewData["Title"] = "Details";
}

@* <h1>Details</h1>

<div>
    <h4>JobPostingViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
    </dl>
</div>
<div>
    <div class="btn-group">
        <a asp-action="EditJob" asp-route-id="@Model?.Id" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-pencil"></i> Edit
        </a>
        <a asp-action="CompanyDashPage" class="btn btn-sm btn-outline-info">
            <i class="bi bi-eye"></i> Back to List
        </a>
    </div>
</div>
 *@
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4">Job Details</h2>
                    <form asp-action="Details">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Title)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CompanyName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Location)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Location)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Type)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Type)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Salary)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Salary)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.PostedDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.PostedDate)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <div class="text-center">
                                <a asp-action="EditJob" asp-route-id="@Model?.Id" class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil"></i> Edit
                                </a>
                                &nbsp;
                                <a asp-action="CompanyDashPage" class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-eye"></i> Back to List
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
